summary {
  cursor: pointer;
  transition: 0.2s; /* 変化を滑らかに */
}
/* ホバー時のスタイル */
summary:hover {
  cursor: pointer; /* カーソルを指マークに */
  background-color: #efefef;
}

.mat-button-toggle-checked {
  background-color: #6c8fb6;
  color: white;
}

.mat-button-toggle-checked:nth-of-type(2) {
  background-color: #b67cb6;
  color: white;
}
