<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <h2>History</h2>
  <mat-card class="mb-3">
    <div class="w-auto">
      <div class="text-gray-400">Your Balance</div>
      <div class="flex w-full flex-wrap text-center">
        <div class="w-2/5 whitespace-nowrap m-auto">
          UPX: <span class="text-2xl">{{ uupxAmount | microNumber }}</span>
        </div>
        <div class="w-2/5 whitespace-nowrap m-auto">
          SPX:<span class="text-2xl">{{ uspxAmount | microNumber }}</span>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="mb-3">
    <mat-nav-list>
      <ng-template #loading>
        <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      <ng-container *ngIf="histories === null; then loading; else loadedHistory"></ng-container>
      <ng-template #loadedHistory>
        <ng-container *ngIf="!histories?.length">
          <mat-list-item>No history</mat-list-item>
        </ng-container>
        <ng-container *ngFor="let history of histories">
          <mat-list-item routerLink="/txs/history/{{ powerType(history.isSolar) }}/{{ txType(history.isBid) }}/{{ history.id }}">
            <span class="text-sm flex mr-3">{{ history.date | date: 'MM/dd HH:MM' }}</span>

            <ng-container *ngIf="history.isSolar === true; then solar; else utility"></ng-container>

            <ng-template #solar>
              <div class="text-sm flex mr-3">SPX</div>
              <div class="flex-auto">
                <ng-container *ngIf="history.isBid === true; then solarBid; else solarAsk"></ng-container>
                <ng-template #solarBid>
                  <span style="color: #3f51b5">+{{ history.utokenAmount | microString }}</span>
                </ng-template>
                <ng-template #solarAsk>
                  <span style="color: #ff4081">-{{ history.utokenAmount | microString }}</span>
                </ng-template>
              </div>
            </ng-template>

            <ng-template #utility>
              <div class="text-sm flex mr-3">UPX</div>
              <div class="flex">
                <ng-container *ngIf="history.isBid === true; then utilityBid; else utilityAsk"></ng-container>
                <ng-template #utilityBid>
                  <span style="color: #3f51b5">+{{ history.utokenAmount | microString }}</span>
                </ng-template>
                <ng-template #utilityAsk>
                  <span style="color: #ff4081">-{{ history.utokenAmount | microString }}</span>
                </ng-template>
              </div>
            </ng-template>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
      </ng-template>
    </mat-nav-list>
  </mat-card>
</div>
