<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <h2>History</h2>
  <mat-card class="mb-3">
    <div class="w-auto">
      <div class="text-gray-400">Your Balance</div>
      <div class="flex w-full flex-wrap text-center">
        <div class="w-2/5 whitespace-nowrap m-auto">
          UPX: <span class="text-2xl">{{ uupxAmount | microNumber }}</span>
        </div>
        <div class="w-2/5 whitespace-nowrap m-auto">
          SPX:<span class="text-2xl">{{ uspxAmount | microNumber }}</span>
        </div>
        <ng-container *ngIf="insufficiencyAmount">
          <mat-list-item class="flex flex-wrap" style="padding: auto">
            <span class="break-all text-xl">Insufficient Balance:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all text-xl" style="font-size: x-large">{{ insufficiencyAmount | microNumber }}</span>
          </mat-list-item>
        </ng-container>
      </div>
    </div>
  </mat-card>

  <mat-card class="mb-3">
    <div class="text-gray-400 mb-2">Your Transaction history</div>
    <details>
      <summary>Search Options</summary>
      <mat-card-content class="mt-2">
        <mat-form-field appearance="fill" class="w-1/3 mr-2">
          <mat-label style="font-size: 5px">Select a token</mat-label>
          <mat-select [(value)]="selectedToken" class="w-5 text-xs">
            <mat-option value="default">All Tokens</mat-option>
            <mat-option value="UPX">UPX</mat-option>
            <mat-option value="SPX">SPX</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-auto">
          <mat-label style="font-size: 5px">Select a transaction type </mat-label>
          <mat-select [(value)]="selectedTransaction" class="w-5 text-xs">
            <mat-option value="default">All Transactions</mat-option>
            <mat-option value="Auction">Auction</mat-option>
            <mat-option value="Daily Withdraw">Daily Withdraw</mat-option>
            <mat-option value="Admin">Admin</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-auto">
          <mat-label>Select a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-card-content>
    </details>

    <mat-nav-list>
      <ng-template #loading>
        <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      <ng-container *ngIf="balanceHistories === null; then loading; else loadedHistory"></ng-container>
      <ng-template #loadedHistory>
        <ng-container *ngIf="!balanceHistories?.length">
          <mat-list-item>No history</mat-list-item>
        </ng-container>
        <ng-container *ngFor="let balanceHistory of balanceHistories">
          <mat-list-item
            routerLink="/txs/history/{{ powerType(balanceHistory.isSolar) }}/{{ txType(balanceHistory.isBid) }}/{{ balanceHistory.id }}"
          >
            <div class="table-column">
              <div class="text-xs mr-4">{{ balanceHistory.date | date: 'YY/MM/dd' }}</div>
              <div class="text-xs mr-4" S>{{ balanceHistory.date | date: 'HH:mm' }}</div>
            </div>
            <ng-container *ngIf="balanceHistory.isPrimary === true; then primary; else others"></ng-container>
            <ng-template #primary>
              <div class="text-sm mr-10">UPX</div>

              <div class="text-sm flex-auto">
                <span style="color: #3f51b5">+{{ balanceHistory.utokenAmount | microString }}</span>
              </div>
              <div class="text-sm">Primary</div>
            </ng-template>
            <ng-template #others>
              <ng-container *ngIf="balanceHistory.isSolar === true; then solar; else utility"></ng-container>
              <ng-template #solar>
                <div class="table-column">
                  <div class="text-sm mr-10">SPX</div>
                  <ng-container *ngIf="balanceHistory.isAccepted === true; then accept; else reject"></ng-container>
                  <ng-template #accept>
                    <div class="text-xs text-gray-400">￥{{ balanceHistory.ujpyContractPrice | microString }}</div>
                  </ng-template>
                  <ng-template #reject>
                    <div class="text-xs text-red-400">Rejected</div>
                  </ng-template>
                </div>
                <div class="text-sm flex-auto">
                  <ng-container *ngIf="balanceHistory.isBid === true; then solarBid; else solarAsk"></ng-container>
                  <ng-template #solarBid>
                    <span style="color: #3f51b5">+{{ balanceHistory.utokenAmount | microString }}</span>
                  </ng-template>
                  <ng-template #solarAsk>
                    <span style="color: #ff4081">-{{ balanceHistory.utokenAmount | microString }}</span>
                  </ng-template>
                </div>
                <div class="text-sm">Auction</div>
              </ng-template>

              <ng-template #utility>
                <div class="table-column">
                  <div class="text-sm mr-10">UPX</div>
                  <ng-container *ngIf="balanceHistory.isAccepted === true; then accept; else reject"></ng-container>
                  <ng-template #accept>
                    <div class="text-xs text-gray-400">￥{{ balanceHistory.ujpyContractPrice | microString }}</div>
                  </ng-template>
                  <ng-template #reject>
                    <div class="text-xs text-red-400">Rejected</div>
                  </ng-template>
                </div>
                <div class="text-sm flex-auto">
                  <ng-container *ngIf="balanceHistory.isBid === true; then utilityBid; else utilityAsk"></ng-container>
                  <ng-template #utilityBid>
                    <span style="color: #3f51b5">+{{ balanceHistory.utokenAmount | microString }}</span>
                  </ng-template>
                  <ng-template #utilityAsk>
                    <span style="color: #ff4081">-{{ balanceHistory.utokenAmount | microString }}</span>
                  </ng-template>
                </div>
                <div class="text-sm">Auction</div>
              </ng-template>
            </ng-template>
          </mat-list-item>

          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
      </ng-template>
    </mat-nav-list>
  </mat-card>
</div>
